include LICENSE.md
include README.md
include docs/quickstart.rst
include contributors.txt
recursive-include docs/_build/latex *.pdf
recursive-include docs/_build/html *
recursive-include basin3d/templates *
prune basin3d/tests
